@inherits Sharenima.Client.ComponentCode.Settings.Permissions

<h3>Permissions</h3>
@if (Ready) {
    <div class="input-group mb-3">
        <input class="form-control" list="users" id="userSelect" onchange="@ChangeSelectedUser" placeholder="Type to search..."/>
        <datalist id="users">
            @foreach (string username in InstancePermissions.UserPermissions.Select(item => item.Username)) {
                <option value="@username"/>
            }
        </datalist>
    </div>
    @if (SelectedUser == null) {
        <div class="form-check form-switch form-control-lg">
            <input class="form-check-input" type="checkbox" role="switch" id="@nameof(AnonymousLoggedInUserPermissionSwitch)" @onchange="@AnonymousLoggedInUserPermissionSwitch" value="@AnonymousUser"/>
            <label class="form-check-label" for="@nameof(AnonymousLoggedInUserPermissionSwitch)">Anonymous User Permissions</label>
        </div>
    }
    <div>
        @{ var index = 0; }
        @foreach (var permission in PermissionOptions) {
            int loopIndex = index;
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" @bind="@PermissionOptions[loopIndex].Ticked" id="@permission.PermissionDisplayName"/>
                <label class="form-check-label" for="@permission.PermissionDisplayName">@permission.PermissionDisplayName</label>
            </div>
            index++;
        }
    </div>
    
    <MatButton Raised="true" Icon="save" OnClick="SavePermissions">Save</MatButton>
} else {
    <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large"/>
}