@page "/g/{InstanceId}"
@inherits Sharenima.Client.ComponentCode.Instance
@using Sharenima.Client.Pages.Instance.SettingsPages
@using Sharenima.Client.Pages.Stream

@if (SelectedInstance == null) {
    <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large"/>
} else {
    <div>
        <nav class="navbar navbar-dark bg-light">
            <MatIconButton Icon="@QueueResizeButtonIcon" OnClick="ClickedQueueResizeButton"></MatIconButton>
            @if (UserIsAuthenticated) {
                <SettingsDialog InstanceId="@SelectedInstance.Id"></SettingsDialog>
            }
            <MatAppBarTitle>Instance @SelectedInstance.Name</MatAppBarTitle>
            <div class="mx-auto"></div>
            <GoLive></GoLive>
            <MatIconButton Icon="@ChatResizeButtonIcon" OnClick="ClickedChatResizeButton"></MatIconButton>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-2 @(HideQueue ? "d-none" : String.Empty)">
                    <Queue InstanceId="@SelectedInstance.Id" HubConnection="@_hubConnection"></Queue>
                </div>
                <div class="col-@PlayerColumnSize p-0">
                    @if (QueuePlayerService.CurrentQueue.FirstOrDefault() != null) {
                        <Player InstanceId="@SelectedInstance.Id" InitialState="@SelectedInstance.PlayerState" HubConnection="@_hubConnection" VideoTime="@SelectedInstance.VideoTime"></Player>
                    }
                </div>
                <div class="col-2 @(HideChat ? "d-none" : String.Empty)">
                    <Chat InstanceId="SelectedInstance.Id" HubConnection="@_hubConnection"></Chat>
                </div>
            </div>
        </div>
    </div>
}