@page "/Queue"
@inherits Sharenima.Client.ComponentCode.Queue

<MatTabGroup>
    <MatTab>
        <LabelContent>
            URL <MatIcon Icon="@MatIconNames.Insert_link"></MatIcon>
        </LabelContent>
        <ChildContent>
            <div class="d-flex">
                <MatTextField TValue="string" @bind-Value="VideoUrl" Label="Video URL" Style="width: 100%"/>
                <MatIconButton Icon="add_to_queue" OnClick="AddVideoToQueue"/>
            </div>
        </ChildContent>
    </MatTab>
    <MatTab>
        <LabelContent>
            Upload <MatIcon Icon="@MatIconNames.Attach_file"></MatIcon>
        </LabelContent>
        <ChildContent>
            <MatFileUpload OnChange="UploadVideoToQueue" Label="Drag and drop a video here or click here to select a local file"></MatFileUpload>
        </ChildContent>
    </MatTab>
</MatTabGroup>
<MatList>
    @if (QueueList?.Count == 0) {
        <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large"/>
    } else {
        <Dropzone Items="QueueList" TItem="Sharenima.Shared.Queue" OnItemDrop="OnDrop" Accepts="(dragged, target) => dragged?.Order != 0 && target?.Order != 0">
            <MatListItem @key="@context.Id" Style="height: unset">
                <MatCard>
                    <MatCardContent>
                        <MatCardMedia Wide="true" ImageUrl="@context.Thumbnail"/>
                        <MatBody1>@context.Name</MatBody1>
                    </MatCardContent>
                    <MatCardActions>
                        <MatButton OnClick="() => RemoveFromVideoQueue(context.Id)" Disabled="!Authenticated">Remove</MatButton>
                    </MatCardActions>
                </MatCard>
            </MatListItem>
        </Dropzone>
    }
</MatList>